body
{
    
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(17, 16, 16);
    color: rgb(22, 22, 22);

    padding: 0;
    margin: 0;
    font-size: 30px;
}
#cabecera{
    background: rgba(227, 235, 227, 0.836) url("../Imagenes/free-abstract-background-vector.jpg");
    text-align: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    padding: 0.2em 0 0.5em 2em;
    margin: 0;
    background-size: 100%;
}
#cabecera h1{
    margin-left: 20px;
}
#cabecera #logo{
    width: 50px;
    vertical-align: middle;
    margin-left: 40px;
}
#post h1{
 text-align: center;
 color: rgb(17, 20, 20);
}
#post{
    width: 1000px;
    height: 400px;
    
}
.neon {
    animation: neonAnim 2s alternate-reverse infinite;
    color: #b8d1eb;
    font-family: Consolas;
    font-size: 28px;
    margin: 29px;
}
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 10px rgba(0, 123, 255, .7),
          0 0 40px rgba(0, 123, 255, .7),
          0 0 100px rgba(0, 123, 255, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(0, 123, 255, .7),
          0 0 20px rgba(0, 123, 255, .7),
          0 0 60px rgba(0, 123, 255, .7);
      }
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px, solid, rgb(233, 224, 224);
    margin: 0 auto;

}

#container h1{
    font-size: 49px;
}